{% assign id_length = customer.id | size %}
{% assign subscriptions_length = 0 %}

{%- if id_length > 4 -%}

<div style="display: none;">

    <div id="obj_loading">
        <div class="empty-state">
            <div class="empty-state__icon-wrapper">
                {%- render 'icon' with 'auto_renew'
                , width: 32
                , height: 32
                , stroke_width: 1 -%}
            </div>

            <div class="prose">
                <p class="h6">Cargando suscripciones...</p>
            </div>
        </div>
    </div>

    <div id="obj_empty">
        <div class="empty-state">
            <div class="empty-state__icon-wrapper">
                {%- render 'icon' with 'subscriptions'
                , width: 32
                , height: 32
                , stroke_width: 1 -%}
                <span class="count-bubble count-bubble--lg">0</span>
            </div>

            <div class="prose">
                <p class="h6">Aún no has realizado ninguna suscripción.</p>

                {%- assign button_content = 'customer.account.continue_shopping' | t -%}
                {%- render 'button'
                , href: routes.all_products_collection_url
                , size: 'xl'
                , content: button_content -%}
            </div>
        </div>
    </div>

    <div id="obj_list">
        <div class="page-spacer">
            <div class="account">
                <div class="account-header">
                    <div class="text-with-bubble justify-self-center">
                        <h1 class="h3">Suscripciones</h1>
                        <span class="count-bubble count-bubble--lg">{{ customer.orders.size }}</span>
                    </div>
                </div>

                <div class="account__block-list">

                    <div class="v-stack gap-5" {{ block.shopify_attributes }}>

                        <table class="order-table-list">
                            <thead>
                                <tr>
                                    <th>{{ 'customer.order.order' | t }}</th>
                                    <th>{{ 'customer.order.date' | t }}</th>
                                    <th>{{ 'customer.order.payment_status' | t }}</th>
                                    <th>{{ 'customer.order.fulfillment_status' | t }}</th>
                                    <th class="text-end">{{ 'customer.order.total' | t }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {%- for order in customer.orders -%}
                                <tr class="table-row-hover" onclick="window.location.href = '{{ order.customer_url }}'">
                                    <td class="bold">{{ order.name }}</td>
                                    <td class="text-subdued">{{ order.created_at | date: format: 'date' }}</td>
                                    <td class="text-subdued">{{ order.financial_status_label }}</td>
                                    <td class="text-subdued">{{ order.fulfillment_status_label }}</td>
                                    <td class="text-subdued text-end">{{ order.total_net_amount | money }}</td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="cont_subscriptons"></div>

<script>
    var _getSubscriptions = async (_params = {}) => {
        const _cont_subscriptons = document.getElementById("cont_subscriptons");
        const _obj_loading = document.getElementById("obj_loading");
        const _obj_empty = document.getElementById("obj_empty");
        const _obj_list = document.getElementById("obj_list");

        _cont_subscriptons.innerHTML = _obj_loading.innerHTML;

        const formData = new FormData();

        formData.append('accion', 'mis_suscripciones');
        formData.append('customer_id', '{{customer.id}}');
        formData.append('limit', 7);
        formData.append('offset', 0);


        await fetch('https://dust-dublin-keep-trailers.trycloudflare.com/suscripciones', {
            method: 'OPTION',
            headers: {
                'Accept': 'application/json',
                // 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                //     'content-type': 'multipart/form-data',
                //     'x-shopify-api-version': '2023-10',
                //     'x-shopify-hmac-sha256': 'kivaNbTsq1XYKXZSPMPkGlwB8280OQBLOVxsumigqE4=',
                //     'x-shopify-shop-domain': 'quickstart-21f6cefe.myshopify.com',
                //     'x-shopify-test': 'true',
                //     'x-shopify-topic': 'orders/paid',
                //     'x-shopify-triggered-at': '2023-10-21T01:50:56.809393052Z',
                //     'x-shopify-webhook-id': 'fd618b43-35cd-4c18-b935-9d9668fbfed0'
            },
            body: formData
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.clear();
                console.log("\n\n");
                console.log("respondio");
                console.log(data);
                console.log("\n\n");
                _cont_subscriptons.innerHTML = _obj_list.innerHTML;
            })
            .catch((error) => {
                console.clear();
                console.log("\n\n");
                console.log("Ocurrio un error");
                console.log({ "response": -1, "msg": error.toString() });
                console.log("\n\n");
                _cont_subscriptons.innerHTML = _obj_list.innerHTML;
            });
    }

    window.addEventListener('load', function () {
        _getSubscriptions({
            customer_id: '{{customer.id}}',
            accion: "mis_suscripciones",
            limit: 7,
            offset: 0
        });
    });
</script>

{%- else -%}
<div class="container">
    <div class="empty-state">
        <div class="empty-state__icon-wrapper">
            {%- render 'icon' with 'account_cancel'
            , width: 32
            , height: 32
            , stroke_width: 1 -%}
        </div>

        <div class="prose">
            <p class="h6">Debes iniciar sesión para ver este contenido.</p>

            {%- assign button_content = 'customer.login.submit' | t -%}
            {%- render 'button'
            , href: routes.account_login_url
            , size: 'xl'
            , content: button_content -%}
        </div>
    </div>
</div>
{%- endif -%}

{% schema %}
{
"name": "Customer subscriptions",
"class": "shopify-section--main-customers-subscriptions",
"tag": "section"
}
{% endschema %}