  <!-- The Modal -->
        <div id="myModal_apolo" class="modal_apolo">
          <!-- Modal content -->
          <div class="modal-content_apolo modal_apolo_container">
            
            <div class="modal_apolo_text">
              <span class="apolo_modal_close close_apolo">&times;</span>
                  <div  class="newsletter_apolo_header">
                    <span class="span_title_apolo">{{section.settings.message_text1}} </span>
                    <span class="span_title_apolo">{{section.settings.message_text2}} </span>
                  </div>
              
                  <div class="newsletter_apolo text-center">
                   <p>{{section.settings.sub_text}}</p>
                  </div>
          <!--
              
                  <div class="newsletter_apolo">
                     {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
                    {% assign valor = form.posted_successfully? %}
                      {%- if form.posted_successfully? -%}
                        <p class="form-message form-message--success" tabindex="-1" data-form-status>
                          {{ 'general.newsletter_form.confirmation' | t }}
                        </p>
                      {%- endif -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="input-group apolo_input_group{% if form.errors %} input-group--error{% endif %}">
                        <input  type="email"
                          name="contact[email]"
                          id="{{ formId }}-email"
                          class="input-group__field{% if form.errors %} input--error{% endif %} email_apolo_input"
                          value="{{ form.email }}"
                          placeholder="EMAIL &#10; "
                          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          {% if form.errors %}
                            aria-invalid="true"
                            aria-describedby="{{ formId }}-email-error"
                            data-form-status
                          {% endif %}
                          >
                        <span class="input-group__btn span_subscribe_email">
                          <button type="submit" class="btn btn_subscribe_email" name="commit" id="Subscribe">
                            <span>JOIN</span>
                          </button>
                        </span>
                      </div>
                      {%- if form.errors contains 'email' -%}
                        <span id="{{ formId }}-email-error" class="input-error-message">
                          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                          {% include 'icon-error' %}
                          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                        </span>
                      {%- endif -%}
                    {% endform %}
                 </div>
           -->
           </div>
          
            
     <div class="modal_apolo_img" >
     {% if section.settings.image_modal != blank %}
      <img style="object-fit: cover;width: 100%;height: 100%;" src="{{section.settings.image_modal | img_url: 'master'}}" />
     {% else %}
      <img style="object-fit: cover;width: 100%;height: 100%;" src="https://veronicaaviles.com/wp-content/uploads/2020/04/shopify-logo-png-shopify-logo-1-300.png" />
     {% endif %}
     </div>
          </div>
        </div>
    <button style="display:none" id="myBtn_sub"></button>
  <script>
  
    // Get the modal
    var modal = document.getElementById("myModal_apolo");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn_sub");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close_apolo")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }
    
    setTimeout(function(){  
         var cook = Cookies.get('msj');

        //Verificar si la cookie existe, y si su valor es correcto el mensaje no sera mostrado
        if(cook=='1')
                $('#respuesta').html('Ya has visto este mensaje.');
        else {
             $("#myBtn_sub").click();

            //Creando la cookie "msj", indicado 1 dia o 24 horas de caducidad
            Cookies.set('msj', '1',{expires: 1});
        }
           
            }, 3000);
	</script>


<style>
.apolo_container{
position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-size: 0;
    padding-bottom: 100%;
    height: 0;
}
.imagen_apolo{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    transform: unset;
    top: unset;
    left: unset;
}

.modal_apolo_img{
  width:45%
}
.modal_apolo_text{
  width:55%;
  padding:30px
}
.modal_apolo_container{
  display:flex;
  padding:0px;
  width:700px;
  height:500px
}

.modal-content_apolo {
    background-color: #fefefe;
    margin: auto;
}
.span_subscribe_email{
padding: 15px 20px;
}

.span_title_apolo{
display: block;
    font-size: 25px;
}
  .email_apolo_input {
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
    width: 90% !important;
}
  .btn_subscribe_email{
  	width: 40% !important;
    margin: 0px auto;
    display: block;
  }

.apolo_modal_close{
font-size: 40px;
    font-weight: bold;cursor:pointer
}

.newsletter_apolo{
margin-top: 25px;
    text-align: justify;
}
.newsletter_apolo_header{
color: #c6aea2;text-align: center;
}

.btn_subscribe_email{
padding: 20px;background-color: white;color: black;border-color: black;
}
.email_apolo_input{
padding: 20px;text-align: center;
}
.modal_apolo {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 850px;
}

/* The Close Button */
.close {
  color: #101010;
    float: left;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 
@media only screen and (max-width: 850px) and (min-width: 5px)  {
      .modal-content {
       width: 90% !important;  
      }
      .apolo_input_group{
      display:block !important;
      }
}
@media only screen and (max-width: 350px) and (min-width: 5px)  {
  .btn_subscribe_email{
    padding:10px !important;
  }
  .email_apolo_input{
    padding: 10px !important;
  }
  .span_title_apolo{
	display: block;
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) and (min-width: 5px)  {

  .span_title_apolo{
    display: block;
    font-size: 20px;
}
  
  .span_subscribe_email{
    padding: 0px;
}
  .apolo_description{
   padding-left:0px !important;padding-top: 0px !important;
}
  
  #shopify-section-header{
  padding-bottom:20px !important;
}
 
.modal_apolo_img{
  display:none !important;
}
.modal_apolo_text{
  width:100% !important;
}
  
.modal_apolo_container{
  width:100% !important;
}

} 

</style>


{% schema %}
{
  "name": "Modal",
  "settings": [
    {
      "type": "text",
      "id": "message_text1",
      "label": {
        "en": "Text1",
        "es": "Texto",
        "zh-TW": "文字"
      },
      "default": {
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "text",
      "id": "message_text2",
      "label": {
        "en": "Text2",
        "es": "Texto",
        "zh-TW": "文字"
      },
      "default": {
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "zh-TW": "在此公告資訊"
      }
    },
	{
      "type": "text",
      "id": "sub_text",
      "label":" sub text",
      "default": {
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "zh-TW": "在此公告資訊"
      }
	},
	{
	 "type": "image_picker",
      "id": "image_modal",
      "label":"Image Modal"
	}
  ]
}
{% endschema %}
