{%- render 'section-spacing-collapsing' -%}

{%- assign jsonUrl = section.settings.url_json -%}


<style>
  #shopify-section-{{ section.id }} {
  }
  #shopify-section-{{ section.id }} .map-div {
    position: relative;
  }
  #shopify-section-{{ section.id }} #sidebar {
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 500ms ease-in-out;
    transform: translateX(-100%);
  }
  #shopify-section-{{ section.id }} #sidebar.active {
    transform: translateX(0);
  }
    #shopify-section-{{ section.id }}  #map-container {
    height: 500px; /* Ajusta la altura según tus necesidades */
  }
</style>

<div {% render 'section-properties' %}>
  <div class="map-div">
    <div id="map-container"></div>
    <div id="sidebar">
        <div id="sidebar-content">
            <!-- Los datos del marcador se mostrarán aquí -->
        </div>
    </div>
  </div>
</div>
{%- comment -%}On the FAQ page, we also output the content with JSON microdata for SEO{%- endcomment -%}
<script>
    // URL del archivo JSON
    var jsonUrl = "{{ jsonUrl | escape }}";
    initMap();
    // Inicializar el mapa
    function initMap() {
      // Crear un nuevo mapa de Google
  var center = { lat: -33.83155, lng: -70.706332 };
      var map = new google.maps.Map(document.getElementById('map-container'), {
        zoom: 10, // Ajusta el nivel de zoom según tus necesidades
        center: center, // Centrar el mapa en una ubicación inicial
      });

      // Obtener los datos del JSON y agregar marcadores al mapa
      fetch(jsonUrl)
        .then(response => response.json())
        .then(data => {
          var bounds = new google.maps.LatLngBounds();

          data.forEach(item => {
            // Verificar que el objeto tenga latitud y longitud
            if (item.lat && item.lng) {
              // Crear un marcador en el mapa
              var marker = new google.maps.Marker({
                  position: { lat: parseFloat(item.lat), lng: parseFloat(item.lng) },
                  map: map,
                  title: item.title || 'Marcador',
                  // icon: {
                  //     path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                  //     scale: 6,
                  //     fillColor: 'rgb(2,136,209)',
                  //     fillOpacity: 1,
                  //     strokeWeight: 0,
                  // },
                  data: item, // Adjunta los datos del marcador al marcador mismo
              });
               // Agrega un evento de clic al marcador
               marker.addListener('click', function () {
                    showMarkerData(marker.data); // Muestra los datos en el sidebar al hacer clic
                });

              bounds.extend(marker.getPosition());
            }
          });
          console.log(bounds);
          map.fitBounds(bounds);
        })

        .catch(error => console.error('Error al cargar el JSON:', error));
    }
    function showMarkerData(data) {
        var sidebar = document.getElementById('sidebar');
        var sidebarContent = document.getElementById('sidebar-content');
        sidebarContent.innerHTML = `
            <h2>${data["Nombre de cliente/proveedor"]}</h2>
            <p><strong>Dirección:</strong> ${data["Dirección"]}</p>
            <p><strong>Comuna:</strong> ${data["Comuna"]}</p>
            <p><strong>Ciudad:</strong> ${data["Ciudad"]}</p>
            <p><strong>Región:</strong> ${data["(L) Región"]}</p>
        `;
        sidebar.classList.add('active')
    }
  </script>

{% schema %}
{
  "name": "My Map",
  "class": "shopify-section--my-map",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "text",
      "id": "url_json",
      "label": "URL Json"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "My Map"
    }
  ]
}
{% endschema %}